body {
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#toolbar {
	width: 100%;
	height: 25px;
	position: fixed;
}

#status {
    color: black;
    left: 50%;
    position: fixed;
    top: 0;
    width: 90px;
    z-index: 1002;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-up: none;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
}

#status .inner {
   font-style: italic;
}

.inner p {
	text-align: center;
	padding: 5px;
}

.groups {
	margin-left: 30%;
}

#control > *, a {
    color: #232323;
    text-shadow: 1px 1px 1px #FFFFFF;
}
    

#control {
    -moz-transition: top 100ms ease-out 0s, opacity 50ms linear 
    height: 51px;
    left: 0;
    width: 100%;
    position: fixed;
    right: 0;
    z-index: 1001;
}

#control, .label {
    -moz-user-select: none;
}
.control, .help, .starting {
    background: url("images/jsbin-bg.gif") repeat-x scroll 0 -10px transparent;
    float: left;
    padding: 13px 10px;
    white-space: nowrap;
}
.control {
    padding-right: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#category {
   text-align: center;
}

div.logwindow {
	height: 100%;
	overflow:auto;
	padding-top: 60px;
	padding-bottom: 15px;
}

.logwindow > div {
	padding-left: 3px;
}

div.active {
	font-weight: bold;
}

.buttons {
    display: block;
    float: left;
    margin-right: 10px;
    min-width: 100%;
}
p {
    margin: 0;
}

.control, .help, .starting {
    float: left;
    padding: 13px 10px;
    white-space: nowrap;
}

.starting {
    text-align: center;
}
.help {
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 0;
}
.help a {
    outline: 0 none;
}
.starting, .help {
    line-height: 25px;
    z-index: 1;
}
ul.flat {
    margin: 0;
    padding: 0;
}
ul.flat li {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0 0 0 15px;
    padding: 0;
}
.help ul.flat {
    float: right;
}
#control > *, a {
    color: #232323;
    text-shadow: 1px 1px 1px #FFFFFF;
}
a {
    font-weight: bold;
}
a:hover {
    text-shadow: -1px -1px 3px #FFFFFF;
}
.light {
    font-weight: normal;
    text-decoration: none;
}
.stretch {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#bin {
    top: 52px;
    width: 100%;
}
div.html {
    left: 50%;
}
div.code, #live, .resize {
}
.resize {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAMCAYAAACnfgdqAAAAMElEQVQIHWP8//8/AxRoMAA5ZkDcAsT/mYCiN4GYBYidGIECUFUMDCAZOEDmUNkAAKKgK80+TE8oAAAAAElFTkSuQmCC") no-repeat scroll left 45% #CCCCCC;
    cursor: ew-resize;
}
.ie .resize {
    cursor: w-resize;
}
.block {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    bottom: 0;
    cursor: ew-resize;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.ie .block {
    cursor: w-resize;
}
div.preview {
    display: none;
    width: 100%;
}
.code .label {
    margin: 0 10px 0 1px;
    padding: 10px 0 10px 10px;
    position: absolute;
    z-index: 10;
}
.code .label p {
    font-weight: bold;
}
.code .label label {
    margin-top: 10px;
}
.code .label p > span {
    -moz-transition: opacity 250ms linear 0s;
    opacity: 0;
}
.code .label p:hover span {
    opacity: 1;
}
#library {
    padding: 2px;
    width: 200px;
}
.javascript {
    right: 50%;
}
iframe.javascript {
    border-right: 1px solid #CCCCCC !important;
}
.buttons {
    display: block;
    float: left;
    margin-right: 10px;
    min-width: 100%;
}
.button {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    display: block;
    float: left;
    height: 12px;
    line-height: 12px;
    margin: 0;
    padding: 6px 10px;
    text-decoration: none;
    cursor:pointer;
    min-width: 34px;
}
#control span {
    display: block;
    float: left;
    height: 10px;
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 4px;
}
.gap {
    margin-right: 10px;
}


.group {
    border-left: 0 none;
    border-radius: 0 0 0 0;
}
.right {
    border-bottom-right-radius: 3px;
    border-right: 1px solid #CCCCCC;
    border-top-right-radius: 3px;
}


a.button:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px #FFFFFF;
}
a.button:active, .button:focus {
    border-color: #FFFFFF;
    box-shadow: 0 0 3px #C8C8C8;
    outline: 0 none;
    text-shadow: none;
}


a.source {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 5px #FFFFFF;
    text-shadow: none;
}


#connect-button {
	min-width: 55px;
	text-align: center;
}

.left {
    border-bottom-left-radius: 3px;
    border-left: 1px solid #CCCCCC;
    border-top-left-radius: 3px;
}
.right {
    border-bottom-right-radius: 3px;
    border-right: 1px solid #CCCCCC;
    border-top-right-radius: 3px;
}
div.group {
    border-left: 1px solid #CCCCCC;
    display: block;
    float: left;
    height: 24px;
    margin-left: -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 104px;
    z-index: 20;
}
div.group:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 3px;
    box-shadow: 1px 1px 2px #CCCCCC;
    height: 102px;
    overflow: visible;
}
div.tall:hover {
    height: 126px;
}
#control div.group .title {
    background: url("images/down.png") no-repeat scroll 75px center transparent;
    display: block;
    float: none;
    font-weight: normal;
    height: 18px;
    line-height: 14px;
    margin-bottom: 6px;
    padding: 6px 36px 0 10px;
    text-align: center;
    text-decoration: none;
}
#control div.group:hover .title {
    background: url("images/down-hover.png") no-repeat scroll 75px center #EEEEEE;
}
#control div.group .button {
    border: 0 none;
    display: block;
    padding-left: 24px;
    width: 70px;
}
#control .group a {
    font-weight: bold;
}
#preview {
    z-index: 11;
}
#preview iframe, #live iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
}

.overlay {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    z-index: 98;
}
.javascript-only div.javascript {
    left: 0;
    width: 100%;
}
.javascript-only div.html {
    display: none;
    left: 100%;
    width: 100%;
}
.label .show {
    display: none;
}
.javascript-only .label .hide, .html-only .label .hide {
    display: none;
}
.javascript-only .label .show, .html-only .label .show {
    display: inline;
}
.html-only div.javascript {
    display: none;
    left: -50%;
}
.html-only div.html {
    left: 0;
    width: 100%;
}
.lightboxWrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
}
.overlay {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 0.5;
}
.lightbox {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px #666666;
    margin: 0 auto;
    max-height: 65%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    top: 75px;
    width: 80%;
    z-index: 12;
}
.lightbox h1 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
    position: relative;
}
.lightbox p, .lightbox h2, .lightbox h3 {
    margin: 14px 20px;
}
.lightbox p, .lightbox li {
    font-size: 16px;
}
.lightbox li {
    margin: 8px 0;
}
.video {
    background: url("../images/play.gif") no-repeat scroll left center transparent;
    padding-left: 20px;
}
#info {
    background: url("../images/info.gif") no-repeat scroll left bottom transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: georgia;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    text-align: center;
    text-shadow: none;
    width: 14px;
}
#info:hover {
    background: url("../images/info.gif") no-repeat scroll left top transparent;
}
#startingpoint {
    outline: 0 none;
}
textarea {
    border: 0 none;
    bottom: 0;
    color: black;
    font-family: Menlo,Monaco,consolas,monospace;
    font-size: 12px;
    left: 0;
    margin: 60px 0.4em 0.4em;
    outline: medium none;
    padding: 6px;
    position: absolute;
    resize: none;
    right: 0;
    top: 0;
}
#javascript {
    margin-top: 26px;
}
div.javascript {
    border-right: 1px solid #CCCCCC;
}
#navigation {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding-left: 0;
    width: 200px;
}
#navigation li {
    margin: 1px 0;
}
#navigation a {
    background: none repeat scroll 0 0 #A2B2CC;
    color: #FFFFFF;
    display: block;
    margin: 1px 0;
    padding: 10px;
    text-decoration: none;
    text-shadow: none;
}
#navigation a:hover, #navigation a.selected:hover {
    background: none repeat scroll 0 0 #8899CC;
    font-weight: bold;
}
#navigation a:active {
    border: 2px solid #647ECC;
    padding: 8px;
}
#navigation a.selected {
    background: none repeat scroll 0 0 #768BCC;
    font-weight: bold;
}
.panels {
    margin-left: 210px;
}
.panels li {
    margin: 14px 0;
}
.panels code {
    font-size: 16px;
}
.hud {
    background: url("../images/op7.png") repeat scroll 0 0 transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
.hud .outercontainer {
    background: none repeat scroll 0 0 #1B1B1B;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    position: relative;
}
.hud .title {
    background: none repeat scroll 0 0 #454645;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}
#help pre {
    background: none repeat scroll 0 0 #EEEEEE;
    overflow-x: auto;
    padding: 10px;
}
#help {
    background: none repeat scroll 0 0 #F7F4EB;
    border-left: 1px solid #CCCCCC;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    position: absolute;
    right: -300px;
    top: 0;
    width: 279px;
}
#help p {
    margin: 14px 0;
}
#help ol, #help ul {
    padding-left: 20px;
}
#help li {
    margin: 10px 0;
}
#help dl.shortcuts {
    margin-bottom: 1em;
    margin-left: 26px;
}
#help dl.shortcuts * {
    font-weight: normal;
    line-height: 2.25;
    margin: 0;
}
#help .shortcuts dt {
    clear: both;
    display: block;
    float: left;
    width: 7em;
}
#help kbd {
    background-color: #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-family: "VAG Rounded",sans-serif;
    font-size: 90%;
    letter-spacing: 0.2ex;
    padding: 1ex;
    text-shadow: 0 0 4px rgba(0, 255, 255, 0.5);
}
#help .shortcuts.a dt {
    width: 7em;
}
#help .shortcuts.b dt {
    width: 10em;
}
#revert {
    display: none;
}
#revert img {
    border: 0 none;
    margin-right: -1px;
    margin-top: -2px;
}
#revert img.enabled {
    display: none;
}
#revert.enable img.disabled {
    display: none;
}
#revert.enable img.enabled {
    display: inline;
}
body.streaming {
    background-position: 0 11px;
}
#stream {
    display: none;
}
#streaming {
    background: none repeat scroll 0 0 #00CC00;
    border-bottom: 1px solid #00AA00;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 22px;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-shadow: 0 1px 0 #00AA00;
    top: -23px;
    width: 100%;
}
#streaming .msg {
    padding-left: 15px;
}
#streaming a {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #00AA00;
}
body.pausestream #streaming .pause {
    display: none;
}
body.streaming #streaming .resume {
    display: none;
}
body.pausestream #streaming .resume {
    display: inline;
}
#streaming .listen {
    display: none;
}
#streaming.listen .listen {
    display: inline;
}
body.pausestream #streaming {
    background: none repeat scroll 0 0 #CC0000;
    border-bottom: 1px solid #AA0000;
    text-shadow: 0 1px 0 #AA0000;
}
body.pausestream #streaming a {
    text-shadow: 0 1px 0 #AA0000;
}
body.streaming #streaming {
    top: 0;
}
body {
    -moz-transition: background-position 100ms ease-out 0s;
}
#streaming, #control, #bin {
    -moz-transition: top 100ms ease-out 0s, opacity 50ms linear 0s;
}
body.streaming #control, body.streaming #help {
    top: 22px;
}
body.streaming #bin {
    top: 73px;
}
.ie6 .help, .ie6 #help {
    display: none;
}
.ie6 .buttons a {
    color: #000000;
}
.ie6 div, ie6, li {
}
.ie6 textarea {
    border: 5px solid #CCCCCC;
    color: #000000;
    display: block;
    opacity: 1;
    outline: 1px solid #000000;
    z-index: 9999;
}
.ie6, .ie6 * {
    height: 100%;
}

#control span {
    display: block;
    float: left;
    height: 10px;
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 4px;
}
